---
import styles from './HeroSection.module.css';
import { Image } from "astro:assets";
import child from "/src/assets/child.jpg";
import crossing from "/src/assets/crossing.jpg";
import woman from "/src/assets/woman.jpg";
import glassrain from "/src/assets/glasseRain2.jpg";



---

<section class={styles.heroSection}>
   
 

    <picture class={styles.heroPictureBlock}>
      <div class={styles.heroImage1}>
    <Image class={styles.heroImage} src={child} fetchpriority="high" decoding="async" alt="child" />
     </div>
    <div class={styles.heroImage2}>
    <Image class={styles.heroImage} src={crossing} fetchpriority="high" decoding="async" alt="crossing">
    </div>
     <div class={styles.heroImage2}>
    <Image class={styles.heroImage} src={woman} fetchpriority="high" decoding="async" alt="woman" />
    </div>
    </picture>

    
 
</section>
