

---
import styles from './HeroBlock.module.css';
import { Image } from 'astro:assets';
import HeroSectionPhoto5 from '../../assets/HeroSectionPhoto5.jpg';


---

<section class={styles.heroSection}>
     
         <div class={styles.heroImageBlock}>
             <h1 class={styles.heroTitle}> Ваш стиль У будь яку погоду</h1>
        <Image class={styles.heroImage} src={HeroSectionPhoto5} alt="Hero Section" />
        </div>
</section>


