

---
import styles from './HeroBlock.module.css';
import { Image } from 'astro:assets';
import HeroSectionPhoto from '../../assets/HeroSectionPhoto.jpg';


---

<section class={styles.heroSection}>
     
         <div class={styles.heroImageBlock}>
             <h2 class={styles.heroTitle}> ТВІЙ СТИЛЬ У БУДЬ ЯКУ ПОГОДУ</h2>
        <Image class={styles.heroImage} src={HeroSectionPhoto} alt="Hero Section" />
        </div>
</section>


