

---
import styles from './HeroBlock.module.css';
import { Image } from 'astro:assets';
import HeroSectionPhoto from '../../assets/HeroSectionPhoto.jpg';


---

<section class={styles.heroBlock}>
     
         <div class={styles.heroImageBlock}>
             <h2 class={styles.heroTitle}> БЕРИ ПАРАСОЛЬКУ <br> ТА РУШАЙ У ПОДОРОЖ</h2>
        <Image class={styles.heroImage} src={HeroSectionPhoto} loading="lazy" decoding="async" alt="Hero Section" />
        </div>
</section>


