

---
import styles from './HeroBlock.module.css';
import { Image } from 'astro:assets';
import HeroSectionPhoto3 from '../../assets/HeroSectionPhoto3.jpg';


---

<section class={styles.heroBlock}>
     
         <div class={styles.heroImageBlock}>
             <h2 class={styles.heroTitle}>ТВІЙ СТИЛЬ <br> ТВОЇ ПРАВИЛА</h2>
        <Image class={styles.heroImage} src={HeroSectionPhoto3} loading="lazy" decoding="async" alt="Hero Section" />
        </div>
</section>


