---
import { dataTrustUsers } from '../../data/dataTrustUsers.ts';
import { Image } from "astro:assets";
import styles from './TrustBlock.module.css';

---
<section class={styles.trustSection}>
  <h2 class={styles.trustTitle}>Висока якість підтверджена часом</h2>
  <p class={styles.trustDescription}>Виконана з матеріалів найвищої якості, дана продукція забезпечує надійність та довговічність.</p>
  <div class={styles.trustBlock}>
      {dataTrustUsers.map((user) => (
        <li class={styles.trustItem}>
          <Image class={styles.trustImage} src={user.img} alt={user.name}/>
          
          <p class={styles.trustDescription}>{user.description}</p>
        </li>
      ))}
  </div>
   <button class={styles.trustReturnButton}><a href="#thermo-block">Вибрати найкраще для себе</a></button>
</section>