---
import styles from './ProductView.module.css';
import { Image } from 'astro:assets';
import photoUmbrella10 from '../../assets/photoUmbrella10.jpg';
import photoUmbrella20 from '../../assets/photoUmbrella20.jpg';
import photoUmbrella30 from '../../assets/photoUmbrella30.jpg';
import photoUmbrella40 from '../../assets/photoUmbrella40.jpg';

---

<section class={styles.productSection}>
    <h2 class={styles.productTitle}>Продукт</h2>
    <div class={styles.productContainer}>
        <Image src={photoUmbrella10} alt="Product Image" width={550} height={400} class={styles.productImage} />
        <p class={styles.productDescription}>Опис продукту</p>
    </div>
      <div class={styles.productContainer}>
        <p class={styles.productDescription}>Опис продукту</p>
        <Image src={photoUmbrella20} alt="Product Image" width={650} height={400} class={styles.productImage} />
    </div>
      <div class={styles.productContainer}> 
        <Image src={photoUmbrella30} alt="Product Image" width={650} height={400} class={styles.productImage} />
        <p class={styles.productDescription}>Опис продукту</p>
    </div>
      <div class={styles.productContainer}>
        <p class={styles.productDescription}>Опис продукту</p>
        <Image src={photoUmbrella40} alt="Product Image" width={650} height={400} class={styles.productImage} />
    </div>
</section>