---
import styles from './Header.module.css';
import { dataNavigate } from '../../data/dataNavigate';
---

<div class={styles.siteTitle}></div>
<header class={styles.siteHeader}>
  <nav class={styles.navMenu}>
   
      {dataNavigate.map((item) => (
        <li class={styles.navItem}>
          <a href={item.link}>{item.name}</a>
        </li>
      ))}
   
  </nav>
</header>
